# Ignore list for KiCAD Projects
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.sch-bak
*~
*.kicad_prl
*-backups*
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
fp-lib-table
sym-lib-table
# Netlist files (exported from Eeschema)
*.net
*.xml
# Autorouter files (exported from Pcbnew)
*.dsn
*.ses