# Ignore list for KiCAD Projects
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
*.kicad_prl
*-backups*
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
# Netlist files (exported from Eeschema)
*.net
*.xml
# Autorouter files (exported from Pcbnew)
*.dsn
*.ses
# vim swap files
*.swp
# vim config file
*.vimrc
# cmake build stuff
*build*/
